.footer .box.media h1,
.navbar-inverse .navbar-brand span,
.footer .box.important a,
.footer .box.important li a::before {
  color: #4e3d18;
}

.option-box .color-box {
  border: 3px solid #4e3d18;
}
.dropdown-menu {
  border-top: 3px solid #4e3d18;
}
.btn-primary:hover {
  border-color: #4e3d18
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.option-box .gear,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.carousel-indicators .active,
.btn-primary:hover,
.main-head,
.about h1 .one,
.go-top,
.dropdown-menu .divider {
  background-color: #4e3d18;
}




